@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
}
<div class="company-brand">
    <img src="~/Content/images/company/2012313113027638.JPG" />
</div>
<nav class="company-nav clearfix">
    <ul>
        <li><a href="#" class="selected"><span>首 页</span></a></li>
        <li>| </li>
        <li><a href="#"><span>公司简介</span></a></li>
        <li>| </li>
        <li><a href="#"><span>广告资源</span></a></li>
        <li>| </li>
        <li><a href="#"><span>公司公告</span></a></li>
        <li>| </li>
        <li><a href="#"><span>联系方式</span></a></li>
        <li>| </li>
        <li><a href="#"><span>相关证书</span></a></li>
        <li>| </li>
        <li><a href="#"><span>评论留言</span></a></li>
    </ul>
</nav>

<div class="bread-container">
    <div class="company-bread">
        <a class="company-bread-home" href="/"></a>&gt;
    <a href="/list-0-441-0-0-0-0">商住楼宇</a>&gt;
    <strong>液晶电视</strong>
    </div>
</div>
<div class="company-container clearfix">
    <div class="company-left">
        <div class="company-intro clearfix">
            <div class="intro-head clearfix">
                <div class="head-left">
                    <h1>深圳市创茗广告有限公司</h1>
                </div>
                <div class="head-right">
                    公司状态：
                </div>
            </div>
            <div class="intro-main clearfix">
                <div class="intro-logo">
                    <img src="~/Content/images/company/2012313113027654.jpg" />
                </div>
                <div class="intro-desc">
                    创茗广告专业整合国内媒体资源，汇集航空、动车、经管等杂志和国内主流报纸广告媒体资源，帮助企业广告策划推广、媒介购买的专业传媒企业。坚持“优质采购、高效传播”原则，为企业提供全面、便捷、专业的广告推广服务。
  重点推荐：《中国民航》、《南方航空》、《中国之翼》、《东方航空》、星之盟、《经理人》、《旅游地理》、《和谐之旅》……；
  优势代理：《南方都市报》、《深圳特区报》、...[<a href="#" class="z_f2">详细</a>]
            <br />
                    <strong>公司地址</strong>：深圳市福田区彩田路彩福大厦嘉福阁14D
                </div>
            </div>
        </div>
        <div class="company-source">
            <div class="source-title">
                <div class="title-left">
                    <h3>深圳市创茗广告有限公司全部广告资源</h3>
                </div>
                <div class="title-right">共<a href="#" target="_blank">11</a>个</div>
            </div>
            <div class="source-list">
                <div class="source-item clearfix">
                    <div class="item-img">
                        <a href="#" target="_blank">
                            <img src="/Upload/Normal/2013/3/29/11a93a97-3a15-4c64-b2f5-02b4037651da_120.JPG" title="深圳商报2013年广告"></a>
                    </div>
                    <div class="item-title">
                        <a href="#" target="_blank" class="item-name">
                            <span>深圳商报2013年广告</span>
                        </a>
                        [<a href="#" target="_blank" class="item-cate">报纸</a>]
                         <span class="item-time">2013.03.28. 10:16</span>
                    </div>
                    <div class="item-desc">
                        创茗广告是一家综合广告代理商，整合国内媒体资源，汇集航空、动车、经管等杂志媒体；深圳及国内主流报纸资源，帮助企业广告策划推广、媒介购买的专业机构。创茗坚持“优质采购、高效传播”原则，为企业提供全面、便捷、专业的广告推广服务。
 优势报纸：《南方都市报》、《深圳特区报》、.. [<a href="#" target="_blank">详细</a>]<br>
                    </div>
                    <div class="item-category">
                        <a href="#" target="_blank" class="category-main"><span>深圳商报</span></a>
                        <a href="#" target="_blank" class="category-child">工商硬广</a>　一般代理　
                价格：<span class="z_fzk">面议</span>
                    </div>
                </div>
                <div class="source-item clearfix">
                    <div class="item-img">
                        <a href="#" target="_blank">
                            <img src="/Upload/Normal/2013/3/29/11a93a97-3a15-4c64-b2f5-02b4037651da_120.JPG" title="深圳商报2013年广告"></a>
                    </div>
                    <div class="item-title">
                        <a href="#" target="_blank" class="item-name">
                            <span>深圳商报2013年广告</span>
                        </a>
                        [<a href="#" target="_blank" class="item-cate">报纸</a>]
                         <span class="item-time">2013.03.28. 10:16</span>
                    </div>
                    <div class="item-desc">
                        创茗广告是一家综合广告代理商，整合国内媒体资源，汇集航空、动车、经管等杂志媒体；深圳及国内主流报纸资源，帮助企业广告策划推广、媒介购买的专业机构。创茗坚持“优质采购、高效传播”原则，为企业提供全面、便捷、专业的广告推广服务。
 优势报纸：《南方都市报》、《深圳特区报》、.. [<a href="#" target="_blank">详细</a>]<br>
                    </div>
                    <div class="item-category">
                        <a href="#" target="_blank" class="category-main"><span>深圳商报</span></a>
                        <a href="#" target="_blank" class="category-child">工商硬广</a>　一般代理　
                价格：<span class="z_fzk">面议</span>
                    </div>
                </div>
                <div class="source-item clearfix">
                    <div class="item-img">
                        <a href="#" target="_blank">
                            <img src="/Upload/Normal/2013/3/29/11a93a97-3a15-4c64-b2f5-02b4037651da_120.JPG" title="深圳商报2013年广告"></a>
                    </div>
                    <div class="item-title">
                        <a href="#" target="_blank" class="item-name">
                            <span>深圳商报2013年广告</span>
                        </a>
                        [<a href="#" target="_blank" class="item-cate">报纸</a>]
                         <span class="item-time">2013.03.28. 10:16</span>
                    </div>
                    <div class="item-desc">
                        创茗广告是一家综合广告代理商，整合国内媒体资源，汇集航空、动车、经管等杂志媒体；深圳及国内主流报纸资源，帮助企业广告策划推广、媒介购买的专业机构。创茗坚持“优质采购、高效传播”原则，为企业提供全面、便捷、专业的广告推广服务。
 优势报纸：《南方都市报》、《深圳特区报》、.. [<a href="#" target="_blank">详细</a>]<br>
                    </div>
                    <div class="item-category">
                        <a href="#" target="_blank" class="category-main"><span>深圳商报</span></a>
                        <a href="#" target="_blank" class="category-child">工商硬广</a>　一般代理　
                价格：<span class="z_fzk">面议</span>
                    </div>
                </div>
                <div class="source-item clearfix">
                    <div class="item-img">
                        <a href="#" target="_blank">
                            <img src="/Upload/Normal/2013/3/29/11a93a97-3a15-4c64-b2f5-02b4037651da_120.JPG" title="深圳商报2013年广告"></a>
                    </div>
                    <div class="item-title">
                        <a href="#" target="_blank" class="item-name">
                            <span>深圳商报2013年广告</span>
                        </a>
                        [<a href="#" target="_blank" class="item-cate">报纸</a>]
                         <span class="item-time">2013.03.28. 10:16</span>
                    </div>
                    <div class="item-desc">
                        创茗广告是一家综合广告代理商，整合国内媒体资源，汇集航空、动车、经管等杂志媒体；深圳及国内主流报纸资源，帮助企业广告策划推广、媒介购买的专业机构。创茗坚持“优质采购、高效传播”原则，为企业提供全面、便捷、专业的广告推广服务。
 优势报纸：《南方都市报》、《深圳特区报》、.. [<a href="#" target="_blank">详细</a>]<br>
                    </div>
                    <div class="item-category">
                        <a href="#" target="_blank" class="category-main"><span>深圳商报</span></a>
                        <a href="#" target="_blank" class="category-child">工商硬广</a>　一般代理　
                价格：<span class="z_fzk">面议</span>
                    </div>
                </div>
                <div class="source-item clearfix">
                    <div class="item-img">
                        <a href="#" target="_blank">
                            <img src="/Upload/Normal/2013/3/29/11a93a97-3a15-4c64-b2f5-02b4037651da_120.JPG" title="深圳商报2013年广告"></a>
                    </div>
                    <div class="item-title">
                        <a href="#" target="_blank" class="item-name">
                            <span>深圳商报2013年广告</span>
                        </a>
                        [<a href="#" target="_blank" class="item-cate">报纸</a>]
                         <span class="item-time">2013.03.28. 10:16</span>
                    </div>
                    <div class="item-desc">
                        创茗广告是一家综合广告代理商，整合国内媒体资源，汇集航空、动车、经管等杂志媒体；深圳及国内主流报纸资源，帮助企业广告策划推广、媒介购买的专业机构。创茗坚持“优质采购、高效传播”原则，为企业提供全面、便捷、专业的广告推广服务。
 优势报纸：《南方都市报》、《深圳特区报》、.. [<a href="#" target="_blank">详细</a>]<br>
                    </div>
                    <div class="item-category">
                        <a href="#" target="_blank" class="category-main"><span>深圳商报</span></a>
                        <a href="#" target="_blank" class="category-child">工商硬广</a>　一般代理　
                价格：<span class="z_fzk">面议</span>
                    </div>
                </div>
                <div class="source-item clearfix">
                    <div class="item-img">
                        <a href="#" target="_blank">
                            <img src="/Upload/Normal/2013/3/29/11a93a97-3a15-4c64-b2f5-02b4037651da_120.JPG" title="深圳商报2013年广告"></a>
                    </div>
                    <div class="item-title">
                        <a href="#" target="_blank" class="item-name">
                            <span>深圳商报2013年广告</span>
                        </a>
                        [<a href="#" target="_blank" class="item-cate">报纸</a>]
                         <span class="item-time">2013.03.28. 10:16</span>
                    </div>
                    <div class="item-desc">
                        创茗广告是一家综合广告代理商，整合国内媒体资源，汇集航空、动车、经管等杂志媒体；深圳及国内主流报纸资源，帮助企业广告策划推广、媒介购买的专业机构。创茗坚持“优质采购、高效传播”原则，为企业提供全面、便捷、专业的广告推广服务。
 优势报纸：《南方都市报》、《深圳特区报》、.. [<a href="#" target="_blank">详细</a>]<br>
                    </div>
                    <div class="item-category">
                        <a href="#" target="_blank" class="category-main"><span>深圳商报</span></a>
                        <a href="#" target="_blank" class="category-child">工商硬广</a>　一般代理　
                价格：<span class="z_fzk">面议</span>
                    </div>
                </div>
                <div class="source-item clearfix">
                    <div class="item-img">
                        <a href="#" target="_blank">
                            <img src="/Upload/Normal/2013/3/29/11a93a97-3a15-4c64-b2f5-02b4037651da_120.JPG" title="深圳商报2013年广告"></a>
                    </div>
                    <div class="item-title">
                        <a href="#" target="_blank" class="item-name">
                            <span>深圳商报2013年广告</span>
                        </a>
                        [<a href="#" target="_blank" class="item-cate">报纸</a>]
                         <span class="item-time">2013.03.28. 10:16</span>
                    </div>
                    <div class="item-desc">
                        创茗广告是一家综合广告代理商，整合国内媒体资源，汇集航空、动车、经管等杂志媒体；深圳及国内主流报纸资源，帮助企业广告策划推广、媒介购买的专业机构。创茗坚持“优质采购、高效传播”原则，为企业提供全面、便捷、专业的广告推广服务。
 优势报纸：《南方都市报》、《深圳特区报》、.. [<a href="#" target="_blank">详细</a>]<br>
                    </div>
                    <div class="item-category">
                        <a href="#" target="_blank" class="category-main"><span>深圳商报</span></a>
                        <a href="#" target="_blank" class="category-child">工商硬广</a>　一般代理　
                价格：<span class="z_fzk">面议</span>
                    </div>
                </div>
                <div class="source-item clearfix">
                    <div class="item-img">
                        <a href="#" target="_blank">
                            <img src="/Upload/Normal/2013/3/29/11a93a97-3a15-4c64-b2f5-02b4037651da_120.JPG" title="深圳商报2013年广告"></a>
                    </div>
                    <div class="item-title">
                        <a href="#" target="_blank" class="item-name">
                            <span>深圳商报2013年广告</span>
                        </a>
                        [<a href="#" target="_blank" class="item-cate">报纸</a>]
                         <span class="item-time">2013.03.28. 10:16</span>
                    </div>
                    <div class="item-desc">
                        创茗广告是一家综合广告代理商，整合国内媒体资源，汇集航空、动车、经管等杂志媒体；深圳及国内主流报纸资源，帮助企业广告策划推广、媒介购买的专业机构。创茗坚持“优质采购、高效传播”原则，为企业提供全面、便捷、专业的广告推广服务。
 优势报纸：《南方都市报》、《深圳特区报》、.. [<a href="#" target="_blank">详细</a>]<br>
                    </div>
                    <div class="item-category">
                        <a href="#" target="_blank" class="category-main"><span>深圳商报</span></a>
                        <a href="#" target="_blank" class="category-child">工商硬广</a>　一般代理　
                价格：<span class="z_fzk">面议</span>
                    </div>
                </div>
                <div class="source-item clearfix">
                    <div class="item-img">
                        <a href="#" target="_blank">
                            <img src="/Upload/Normal/2013/3/29/11a93a97-3a15-4c64-b2f5-02b4037651da_120.JPG" title="深圳商报2013年广告"></a>
                    </div>
                    <div class="item-title">
                        <a href="#" target="_blank" class="item-name">
                            <span>深圳商报2013年广告</span>
                        </a>
                        [<a href="#" target="_blank" class="item-cate">报纸</a>]
                         <span class="item-time">2013.03.28. 10:16</span>
                    </div>
                    <div class="item-desc">
                        创茗广告是一家综合广告代理商，整合国内媒体资源，汇集航空、动车、经管等杂志媒体；深圳及国内主流报纸资源，帮助企业广告策划推广、媒介购买的专业机构。创茗坚持“优质采购、高效传播”原则，为企业提供全面、便捷、专业的广告推广服务。
 优势报纸：《南方都市报》、《深圳特区报》、.. [<a href="#" target="_blank">详细</a>]<br>
                    </div>
                    <div class="item-category">
                        <a href="#" target="_blank" class="category-main"><span>深圳商报</span></a>
                        <a href="#" target="_blank" class="category-child">工商硬广</a>　一般代理　
                价格：<span class="z_fzk">面议</span>
                    </div>
                </div>
                <div class="source-item clearfix">
                    <div class="item-img">
                        <a href="#" target="_blank">
                            <img src="/Upload/Normal/2013/3/29/11a93a97-3a15-4c64-b2f5-02b4037651da_120.JPG" title="深圳商报2013年广告"></a>
                    </div>
                    <div class="item-title">
                        <a href="#" target="_blank" class="item-name">
                            <span>深圳商报2013年广告</span>
                        </a>
                        [<a href="#" target="_blank" class="item-cate">报纸</a>]
                         <span class="item-time">2013.03.28. 10:16</span>
                    </div>
                    <div class="item-desc">
                        创茗广告是一家综合广告代理商，整合国内媒体资源，汇集航空、动车、经管等杂志媒体；深圳及国内主流报纸资源，帮助企业广告策划推广、媒介购买的专业机构。创茗坚持“优质采购、高效传播”原则，为企业提供全面、便捷、专业的广告推广服务。
 优势报纸：《南方都市报》、《深圳特区报》、.. [<a href="#" target="_blank">详细</a>]<br>
                    </div>
                    <div class="item-category">
                        <a href="#" target="_blank" class="category-main"><span>深圳商报</span></a>
                        <a href="#" target="_blank" class="category-child">工商硬广</a>　一般代理　
                价格：<span class="z_fzk">面议</span>
                    </div>
                </div>
                <div class="source-item clearfix">
                    <div class="item-img">
                        <a href="#" target="_blank">
                            <img src="/Upload/Normal/2013/3/29/11a93a97-3a15-4c64-b2f5-02b4037651da_120.JPG" title="深圳商报2013年广告"></a>
                    </div>
                    <div class="item-title">
                        <a href="#" target="_blank" class="item-name">
                            <span>深圳商报2013年广告</span>
                        </a>
                        [<a href="#" target="_blank" class="item-cate">报纸</a>]
                         <span class="item-time">2013.03.28. 10:16</span>
                    </div>
                    <div class="item-desc">
                        创茗广告是一家综合广告代理商，整合国内媒体资源，汇集航空、动车、经管等杂志媒体；深圳及国内主流报纸资源，帮助企业广告策划推广、媒介购买的专业机构。创茗坚持“优质采购、高效传播”原则，为企业提供全面、便捷、专业的广告推广服务。
 优势报纸：《南方都市报》、《深圳特区报》、.. [<a href="#" target="_blank">详细</a>]<br>
                    </div>
                    <div class="item-category">
                        <a href="#" target="_blank" class="category-main"><span>深圳商报</span></a>
                        <a href="#" target="_blank" class="category-child">工商硬广</a>　一般代理　
                价格：<span class="z_fzk">面议</span>
                    </div>
                </div>
            </div>
            <div id="list-page">
                <div id="list-page-nva">
                    <div class="list-page-split">
                        <span class="prev">上一页<i></i></span>
                        <span>1</span><a href="http://baojian.163.com/products/1-11-0-0-0-0-0-0-0-0-2.html">2</a>
                        <a class="next" href="http://baojian.163.com/products/1-11-0-0-0-0-0-0-0-0-2.html">下一页<i></i></a>
                        <span class="list-page-tip">到第</span>
                        <input class="list-page-jump" tmpl="http://baojian.163.com/products/1-11-0-0-0-0-0-0-0-0-{p}.html" type="text" value="1">
                        <span class="list-page-tip">页</span><a class="list-page-btn" href="javascript:">确定</a>
                    </div>
                    <input type="hidden" id="pageJumpUrl" total="2" value="http://baojian.163.com/products/1-11-0-0-0-0-0-0-0-0-{p}.html">
                </div>
            </div>
        </div>
    </div>
    <div class="company-right">
        <div class="company-category company-box">
            <div class="box-title">
                <h2>广告资源分类</h2>
                <span>
                    <a href="#">查看全部</a></span>
            </div>
            <div class="box-content">
                <div class="category-parent"><a href="/Effect/lcmycm-Media1p1.html">报纸媒体</a></div>
                <div class="category-list">
                    <ul>
                        <li><a href="/Effect/lcmycm-Media1s1p1.html">工商硬广</a> (2)</li>
                    </ul>
                </div>
                <div class="category-parent"><a href="/Effect/lcmycm-Media5p1.html">户外媒体</a></div>
                <div class="category-list">
                    <ul>
                        <li><a href="#">楼顶 墙体广告</a> (3)</li>
                        <li><a href="/#">单立柱 高炮广告</a> (1)</li>
                        <li><a href="/#">地铁 公交车 出租车</a> (1)</li>
                        <li><a href="#">阅报栏 社区广告</a> (1)</li>
                        <li><a href="/#">其他户外广告</a> (1)</li>
                    </ul>
                </div>
            </div>
        </div>
        <span class="separate-line"></span>
        <div class="company-box">
            <div class="box-title">
                <h2>其他相关资源</h2>
            </div>
            <div class="box-content">
                <ul>
                    <li><a href="#">聊城东阿县公交车车体广告</a></li>
                    <li><a href="#">聊城市东阿县商业街路口三面翻广告</a></li>
                    <li><a href="#">聊城市东阿县县社楼顶户外大牌</a></li>
                    <li><a href="#">聊城东阿县前进街曙光街楼顶三面翻</a></li>
                    <li><a href="#">聊城市城区高端小区道闸广告</a></li>
                    <li><a href="#">聊城市东阿县福寿大街路灯杆灯箱道</a></li>
                </ul>
            </div>
        </div>
        <span class="separate-line"></span>
        <div class="company-box">
            <div class="box-title">
                <h2>浏览该资源的还浏览过</h2>
            </div>
            <div class="box-content">
                <ul>
                    <li><a href="#">聊城东阿县公交车车体广告</a></li>
                    <li><a href="#">聊城市东阿县商业街路口三面翻广告</a></li>
                    <li><a href="#">聊城市东阿县县社楼顶户外大牌</a></li>
                    <li><a href="#">聊城东阿县前进街曙光街楼顶三面翻</a></li>
                    <li><a href="#">聊城市城区高端小区道闸广告</a></li>
                    <li><a href="#">聊城市东阿县福寿大街路灯杆灯箱道</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

