@{
    ViewBag.Title = "文章管理";
}

@(Html.Kendo().Grid<Article>()
    .Name("ArticleList")
    .Columns(columns =>
    {
        columns.Bound(c => c.ID).Width(40);
        columns.Bound(c => c.Name);
        columns.ForeignKey(c => c.ArticleCode, (SelectList)ViewBag.ArticleCode);
        columns.Template(@<text></text>)
.ClientTemplate(@"<a class='k-button k-button-icontext ' href='"
+ Url.Action("Edit", "Article") + "/#=ID#'><span class='k-icon k-edit'></span>编辑</a>").Title("编辑").Width(120);
        columns.Command(command => command.Destroy()).Title("删除").Width(120);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Custom().Text("添加文章").Action("Create", "Article");
        toolbar.Save();
    })
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Pageable()
    .Sortable()
    .Groupable()
    .Scrollable()
    .Filterable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .PageSize(20)
        .Model(model => model.Id(c => c.ID))
        .Update("Editing_Update", "Article")
        .Read("Editing_Read", "Article")
        .Destroy("Editing_Destroy", "Article")
    )
)