@model  int

@{
    string name = ViewData.TemplateInfo.GetFullHtmlFieldName("");

    List<string> DropdownListKeys = new List<string>();

    if (ViewData.ModelMetadata.AdditionalValues.ContainsKey("CascadingDropDownList"))
    {
        DropdownListKeys = ViewData.ModelMetadata.AdditionalValues["CascadingDropDownList"].ToString().Split('|').ToList();
        DropdownListKeys.Add(name);
    }
    
}

@foreach (var s in DropdownListKeys)
{ 
    <span id="@(name + "_" + s)">
        <img src="~/Content/images/min-loading.gif" /></span>
}

<script type="text/javascript">


    var @name={
        getValues:function(){
            var d=$.Deferred();
            var value=@Model;
            var result=[];
            if(value===0){
                @for (int i = 0; i < DropdownListKeys.Count; i++)
                {
                     <text>
                result.push(0);
                </text>
                }
                d.resolve(result);
            }else{
                $.ajax({
                    type:'GET',
                    url:'@Url.Action("get_" + name, "ajaxservice")',
                    data:'value='+@Model,
                    success:function(res){
                        d.resolve(res);
                    }
                })
            }
            return d.promise();
        },
        binding:function(){
            var self=@name;
            @for (int i = 0; i < DropdownListKeys.Count; i++)
            {
                var _dname = DropdownListKeys[i];
                  <text>
            self.getValues().done(function(values){
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action(name + "Name", "AjaxService")',
                    data: 'key='+values[@(i)],
                    success: function(res) {
                        $('#@(name + "_" + _dname)').html(res);
                    }
                });
            });
            </text>
            }
           
        }
    }
    $(function() {
        @(name + ".binding();")
    });
</script>

