@model  string

@{
    string name = ViewData.TemplateInfo.GetFullHtmlFieldId(null);
}
<div class="checklist" id="@name">
</div>

<script type="text/javascript">
    jQuery(function() {
        jQuery.ajax({
            type: 'GET',
            url: '@Url.Action(name + "Name", "AjaxService")',
            data: 'key=@Model',
            success: function(res) {
                $('#@name').html(res.join(','));
            }
        })
    })
</script>
