@model  string

@{
    string name = ViewData.TemplateInfo.GetFullHtmlFieldId(null);
    List<SelectListItem> renderList = new List<SelectListItem>();
    for (int i = 0; i < 48; i++)
    {
        renderList.Add(new SelectListItem()
        {
            Text = ((i * 30) / 60).ToString().Length == 1 ? "0" + ((i * 30) / 60) + ((i % 2 == 0) ? ":00" : ":30") : ((i * 30) / 60).ToString() + ((i % 2 == 0) ? ":00" : ":30"),
            Value = (i * 30).ToString()
        });
    }
    var stratTime = renderList.Single(x => x.Value == (String.IsNullOrEmpty(Model) ? "0" : Model.Split('|')[0])).Text;
    var endTime = renderList.Single(x => x.Value == (String.IsNullOrEmpty(Model) ? "0" : Model.Split('|')[1])).Text;
    
}
<div class="display-timequantum">
    @stratTime - @endTime
</div>
