@using System.Configuration
@using System.Web.Mvc
@using Microsoft.Web.Helpers
@* Generator: MvcHelper Namespace: NuGetGallery*@



@helper Alert(string title, string message, bool close = false, string type = null)
{
    <div class="alert @if (!string.IsNullOrEmpty(type)) { <text>alert-@type </text> }">
        @if (close)
        {
            <button type="button" class="close" data-dismiss="alert">×</button>
        }
        <strong>@title</strong> @message
    </div>
}


@helper Alert(string message,bool success)
{
    var type = success?"success":"error";
    <div class="alert displaymessage @if (success){ <text>alert-@type </text> }else{ <text>alert-@type </text> }">
        <div class="image">
            <img src="~/Content/images/icon/@(type).png"  />
        </div>
        <div class="text">
            @*   <h6>Warning Message</h6>*@
            <span>@message</span>
        </div>
    </div>
}


@helper Alert(string title, string message, MvcHtmlString Link, bool close = false, string type = null)
{
    <div class="alert @if (!string.IsNullOrEmpty(type)) { <text>alert-@type</text> }">
        @if (close)
        {
            <button type="button" class="close" data-dismiss="alert">×</button>
        }
        <strong>@title</strong> @message@Link
    </div>
}





