@model GetPasswordModel
@{
    ViewBag.Title = "注册";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="register">
    <div class="main">
        <div class="sub">
            <h6>
                <span>重新设置密码</span></h6>
        </div>
        <div class="getpassword">
            <div class="password-step clearfix">
                <ul>
                    @if (!ViewBag.SendMail)
                    {
                        <li class="a point"><b>1</b><em>输入邮箱</em></li>
                        <li class="b"><b>2</b><em>查收邮件</em></li>
                    }
                    else
                    {
                        <li class="f "><b>1</b><em>输入邮箱</em></li>
                        <li class="a point"><b>2</b><em>查收邮件</em></li>
                    }
                    <li class="f"><b>3</b><em>更改密码</em></li>
                    <li class="e "><b>4</b><em>更改成功</em></li>
                </ul>
            </div>

            <div class="clearfix"></div>

            <em class="bigmail fl mr20"></em>
            @*  <em class="bigcancel fl mr20"></em>*@
            <div class="fl">

                @if (!ViewBag.SendMail)
                {
                    <h2>请输入您的注册邮箱：</h2>

                    <div class="password-tips">我们会将密码修改确认邮件发往您的邮箱</div>

                    using (Html.BeginForm())
                    {
                    @Html.AntiForgeryToken()
                    @Html.EditorForModel()
                    <div class="form-field form-field-submit c_gray">
                        <button type="submit" class="btn btn-warning ">
                            取回密码</button>
                    </div>
                    }
                }
                else
                {
                    if (ViewBag.HasSendMail)
                    { 
                    <h2></h2>
                    <div class="password-tips">
                        您所使用的邮箱刚找回过密码，<br />
                        请到您的邮箱收取邮件, 或过 @ViewBag.Message 分钟再试
                    </div>
                        
                    }
                    else
                    {
                    <h2></h2>
                    <div class="password-tips">
                        系统已经发送获取密码邮件到您的邮箱：@Model.Email<br />
                        请在 12 小时 内登录邮箱进行查收。
                    </div>
                    
                    <button type="button" class="btn btn-warning mt20 " data-email="@Model.Email" >进入我的邮箱</button>
                    }
                }
            </div>
        </div>
        <div class="clearfix">
        </div>
    </div>
</div>
