@{
    ViewBag.Title = "RegCompany";
}

<h2>RegCompany</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.EditorForModel()

    <button type="submit" class="btn btn-success">
        <i class="icon-ok icon-white"></i>&nbsp;注&nbsp;册</button>
}
