@model ResetPasswordModel
@{
    ViewBag.Title = "重新设置密码";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="register">
    <div class="main">
        <div class="sub">
            <h6>
                <span>重新设置密码</span></h6>
        </div>
        <div class="getpassword">
            <div class="password-step clearfix">
                <ul>
                    @if (!ViewBag.haveChangePwd)
                    {
                        <li class="b"><b>1</b><em>输入邮箱</em></li>
                        <li class="f"><b>2</b><em>查收邮件</em></li>
                        <li class="a point"><b>3</b><em>更改密码</em></li>
                        <li><b>4</b><em>更改成功</em></li>
                    }
                    else
                    {
                        <li class="b"><b>1</b><em>输入邮箱</em></li>
                        <li class="b"><b>2</b><em>查收邮件</em></li>
                        <li class="f"><b>3</b><em>更改密码</em></li>
                        <li class="e "><b>4</b><em>更改成功</em></li>
                    }

                </ul>
            </div>

            <div class="clearfix"></div>

            <em class="bigcancel fl mr20"></em>
            @*  <em class="bigcancel fl mr20"></em>*@
            <div class="fl resetpassword">

                @if (!ViewBag.haveChangePwd)
                {
                    <h2>重新设置密码：</h2>

                    <div class="password-tips">
                        请输入两次新密码，然后点击“确定”即可完成密码修改，<br>
                        密码可由英文字母、数字（0~9）组成，更改后请妥善保管新密码。
                    </div>

                    using (Html.BeginForm())
                    {
                    @Html.AntiForgeryToken()
                    @Html.EditorForModel()
                    <div class="form-field form-field-submit c_gray">
                        <button type="submit" class="btn btn-warning ">
                            修改密码</button>
                    </div>
                    }
                }
                else
                {
                    <h2>密码更改成功</h2>
                    <div class="password-tips">
                        您的密码更新已成功，请点击确定并用新密码重新登陆。
                    </div>
                    
                    <a class="btn btn-warning mt20 " href="@Url.Action("Index", "Login", new { username = ViewBag.Email })" >确认</a>
                        
                }
            </div>
        </div>
        <div class="clearfix">
        </div>
    </div>
</div>
