@model Sys_MessageViewModel
{
    ViewBag.Title = "系统留言详细信息";
}
<style type="text/css">
    .display-item-textarea .display-field {
        width: 400px;
    }
</style>
<div class="dispaly-container">
    @Html.DisplayForModel()
</div>
