@{
    ViewBag.Title = "UpdateOrder";
}

<h2>UpdateOrder</h2>

@using (Html.BeginForm())
{ 
    <input type="text" name="Pay_No" class="k-textbox " />
    <button class="btn btn-danger" type="submit">提交</button>
}

