@model ProfileModel
@{
    ViewBag.Title = "基本信息";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}
<article class="personal clearfix">
    <div class="personal-left">
        <div class="personal-nav">
            @Html.Partial("_PersonalLeftNav")
        </div>
    </div>
    <div class="personal-right">
        <div class="personal-right-body">
            <div class="personal-body-title clearfix">
                <ul class="personal-tab clearfix">
                    <li class="selected"><a href="user_basic.aspx"><span>基本信息</span></a></li>
                    <li><a href="user_face.aspx"><span>个人头像</span></a></li>
                    <li><a href="user_edu.aspx"><span>教育经历</span></a></li>
                    <li><a href="user_work.aspx"><span>工作经历</span></a></li>
                </ul>
            </div>

            @ViewHelpers.Alert("友情提醒：",
                CookieHelper.NickName + ",填写真实的资料更方便大家了解你。", false, AlertType.info.ToString())

            <div class="personal-form mt40">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.EditorForModel()
                    <div class="form-field form-field-submit c_gray">
                        <button type="submit" class="btn btn-warning ">
                            &nbsp;&nbsp;保&nbsp;&nbsp;存&nbsp;&nbsp;</button>
                    </div>
                }
            </div>
        </div>

    </div>
</article>
