@model  Member
@{
    ViewBag.Title = "我的帐号";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}
<article class="personal clearfix">
    <div class="personal-left">
        <div class="personal-nav">
            @Html.Partial("_PersonalLeftNav")
        </div>
    </div>
    <div class="personal-right">
        <div class="personal-right-body">
            <div class="personal-body-title clearfix">
                <h5>@ViewBag.Title</h5>
            </div>
            <ul class="personal-body-list">
                <li>登录名：@Model.Email</li>
                <li>昵称：@Model.NickName</li>
                @*  <li class="list-status"><span>我的余额：￥ 6 元</span><a href="http://task.zhubajie.com/payorder/order">充值</a><a href="http://u.zhubajie.com/pay/activeyjf" target="_blank">管理</a></li>*@
            </ul>

            @*  <p class="personal-body-tips mt10">你在猪八戒网还是黑户哦！作为一个有身份的人，没有身份认证怎么行! <a href="http://yan.zhubajie.com/certification/index-from-t5" target="_blank">马上认证身份&gt;</a></p>*@
            <div class="personal-body-bind">
                @* <dl class="clearfix">
                    <dt class="bind-mobile"></dt>
                    <dd class="bind-desc"><span class="ok">手机绑定</span>已绑定手机号码：186*****942</dd>
                    <dd class="bind-btn"><a href="/cert/mobile-action-change">修改手机号码</a></dd>
                </dl>*@
                <dl class="clearfix">
                    <dt class="bind-email"></dt>
                    @if (ViewBag.EmailActived)
                    {
                        <dd class="bind-desc"><span class="ok">邮箱绑定</span>已绑定邮箱：@Model.Email</dd>
                       
                    }
                    else
                    {
                        <dd class="bind-desc"><span class="failed">邮箱绑定</span>邮箱未绑定：@Model.Email</dd>
                        <dd class="bind-btn"><a class="btn btn-danger" href="@Url.Action("bindemail")"><i class="icon-envelope icon-white"></i>&nbsp;&nbsp; 绑定邮箱</a></dd>
                    }
                </dl>
            </div>
        </div>

    </div>
</article>
