@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>浏览器不支持</title>

</head>
<body>
    <div class="container">
        <p>由于您的浏览器版本太低，广知网暂不支持您当前的浏览器版本！</p>

        <div>
            <strong>建议使用以下浏览器</strong>

            <table>
                <tbody>
                    <tr>
                        <td>
                            <img src="~/Content/images/ie.gif" alt="IE" />
                            IE8以上版本</td>
                        <td>
                            <a href="http://firefox.com.cn/download/">
                                <img src="~/Content/images/firefox.gif" alt="火狐浏览器" />
                                火狐浏览器</a></td>
                        <td>
                            <a href="http://www.google.cn/intl/zh-CN/chrome/browser/?installdataindex=chinabookmarkcontrol&brand=CHUN">
                                <img src="~/Content/images/chrome.gif" alt="谷歌浏览器" />
                                谷歌浏览器</a>
                        </td>
                        <td>

                            <a href="http://www.apple.com.cn/safari/">
                                <img src="~/Content/images/safari.gif" alt="Safari浏览器" />
                                Safari浏览器</a></td>
                        <td>
                            <a href="http://www.opera.com/zh-cn">
                                <img src="~/Content/images/opera.gif" alt=" Opera浏览器" />
                                Opera浏览器</a></td>
                    </tr>

                </tbody>

            </table>

            <br />
            <strong>其他浏览器</strong>

            <table>
                <tbody>
                    <tr>
                        <td>
                            <a href="http://chrome.360.cn/">360极速浏览器</a>
                        </td>
                    </tr>

                </tbody>

            </table>

        </div>

    </div>

</body>
</html>

