<footer class="footer">

    <div class="footer-about">
        <a href="http://corp.163.com/eng/about/overview.html" rel="nofollow">About NetEase</a> - <a href="http://gb.corp.163.com/gb/about/overview.html" rel="nofollow">公司简介</a> - <a href="http://gb.corp.163.com/gb/contactus.html" rel="nofollow">联系方法</a> - <a href="http://corp.163.com/gb/job/job.html" rel="nofollow">招聘信息</a> - <a href="http://help.163.com/" rel="nofollow">客户服务</a> - <a href="http://gb.corp.163.com/gb/legal.html" rel="nofollow">隐私政策</a> - <a href="http://emarketing.163.com/" rel="nofollow">网络营销</a> - <a href="/" title="网易保健品">网易保健品</a>
        <br>
        增值电信业务经营许可证：浙B2-20110418&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.lede.com/prove.html">网站相关资质证明</a>
        <br>
        <span class="footer-copyright">网易公司版权所有 ©1997-2013</span>
    </div>
</footer>
