@{
    var serviceResult = (ServiceResult)TempData["Service_Result"] ?? null;
}

@if (serviceResult != null)
{
    @ViewHelpers.Alert(serviceResult.Message, serviceResult.Success)
}

<div class="alert jsmessage ">
    <div class="image">
        <img src="~/Content/images/icon/success.png"  />
    </div>
    <div class="text">
        <span class="jsmessage-text" ></span>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $('.displaymessage').fadeOut(5000);
        $("body").ajaxError(function(e, request) {
            if (request.status == 403) {
                var res = $.parseJSON(request.responseText);
                //alert(res.Error);
                window.location = res.LogOnUrl;
            }
        });
    });
</script>
