@*<a class="fixed-consult" href="http://zxkf.163.com/index.html?productId=20&amp;tag=1" title="营养师咨询" target="_blank" rel="nofollow"></a>
<a class="fixed-service" href="http://zxkf.163.com/index.do?productId=2&amp;tag=1" title="在线客服" target="_blank" rel="nofollow">在线客服</a>
<a class="fixed-gototop" title="返回顶部" href="javascript:;" style="display: inline;">返回顶部</a>*@
<footer class="footer">
    <div class="footer-feature">
        <ul>
            <li>全场免运费</li>
            <li>100%正品</li>
            <li>机打发票</li>
            <li>厂家直供</li>
        </ul>
    </div>
    <div class="footer-links">
        <ul>
            <li>
                <dl>
                    <dt class="footer-guide1"><em>了解我们</em></dt>
                    <dd><em>·</em><a target="_blank" href="http://baojian.163.com/footer/aboutus.html">关于我们</a></dd>
                    <dd><em>·</em><a target="_blank" href="http://baojian.163.com/footer/notice.html">站内通知</a></dd>
                    <dd><em>·</em><a target="_blank" href="http://baojian.163.com/footer/joinus.html">商家入驻</a></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt class="footer-guide2"><em>购物指南</em></dt>
                    <dd><em>·</em><a target="_blank" href="http://baojian.163.com/footer/buy.html">购物流程</a></dd>
                    <dd><em>·</em><a target="_blank" href="https://epay.163.com/servlet/controller?operation=main">开通网易宝</a></dd>
                    <dd><em>·</em><a target="_blank" href="https://epay.163.com/servlet/controller?operation=fillValueView">网易宝充值</a></dd>
                    <dd><em>·</em><a target="_blank" href="http://baojian.163.com/footer/transfer.html">快递运输</a></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt class="footer-guide4"><em>帮助中心</em></dt>
                    <dd>
                        <em>·</em><a target="_blank" href="http://baojian.163.com/footer/problem.html">常见问题</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<em>·</em><a target="_blank" href="http://baojian.163.com/footer/point.html">积分说明</a>
                    </dd>
                    <dd>
                        <em>·</em><a target="_blank" href="http://baojian.163.com/footer/custom.html">联系客服</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<em>·</em><a target="_blank" href="http://baojian.163.com/footer/coupon.html">优惠券说明</a>
                    </dd>
                    <dd><em>·</em><a target="_blank" href="http://baojian.163.com/footer/refund.html">退换货说明</a></dd>
                    <dd><em>·</em><a target="_blank" href="http://baojian.163.com/footer/after.html">售后服务政策</a></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt class="footer-guide3"><em>支付方式</em></dt>
                    <dd><em>·</em><a target="_blank" href="http://baojian.163.com/footer/epay163.html">网易宝支付 </a></dd>
                    <dd><em>·</em><a target="_blank" href="http://baojian.163.com/footer/alipay.html">支付宝支付</a></dd>
                    <dd><em>·</em><a target="_blank" href="http://baojian.163.com/footer/epay.html">网银支付</a></dd>
                    <dd><em>·</em><a target="_blank" href="http://baojian.163.com/footer/payproblem.html">支付问题</a></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt class="footer-guide5"><em>网易电商</em></dt>
                    <dd>
                        <em>·</em><a href="http://mall.163.com/#from=baojian" target="_blank">网易商城</a>&nbsp;&nbsp;
            <em>·</em><a href="http://caipiao.163.com/#from=baojian" target="_blank">网易彩票</a>
                    </dd>
                    <dd>
                        <em>·</em><a href="http://baoxian.163.com/#from=baojian" target="_blank">网易保险</a>&nbsp;&nbsp;
            <em>·</em><a href="http://tuan.163.com/#from=baojian" target="_blank">网易团长</a>
                    </dd>
                    <dd>
                        <em>·</em><a href="http://yxp.163.com/#from=baojian" target="_blank">网易印像派</a>
                        <em>·</em><a href="http://youhui.163.com/#form=baojian" target="_blank">网易乐得惠</a>
                    </dd>
                    <dd>
                        <em>·</em><a target="_blank" href="http://epay.163.com/#from=baojian">网易宝</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
    <div class="footer-about">
        <a href="http://corp.163.com/eng/about/overview.html" rel="nofollow">About NetEase</a> - <a href="http://gb.corp.163.com/gb/about/overview.html" rel="nofollow">公司简介</a> - <a href="http://gb.corp.163.com/gb/contactus.html" rel="nofollow">联系方法</a> - <a href="http://corp.163.com/gb/job/job.html" rel="nofollow">招聘信息</a> - <a href="http://help.163.com/" rel="nofollow">客户服务</a> - <a href="http://gb.corp.163.com/gb/legal.html" rel="nofollow">隐私政策</a> - <a href="http://emarketing.163.com/" rel="nofollow">网络营销</a> - <a href="/" title="网易保健品">网易保健品</a>
        <br>
        增值电信业务经营许可证：浙B2-20110418&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.lede.com/prove.html">网站相关资质证明</a>
        <br>
        <span class="footer-copyright">网易公司版权所有 ©1997-2013</span>
    </div>
</footer>

