<noscript>
    <div class="noscript">
        <div>
            <h2>请开启浏览器的Javascript功能</h2>
            <p>
                亲，没它我们玩不转啊！求您了，开启Javascript吧！<br />
                不知道怎么开启Javascript？那就请<a href="http://www.baidu.com/s?wd=%E5%A6%82%E4%BD%95%E6%89%93%E5%BC%80Javascript%E5%8A%9F%E8%83%BD" target="_blank">猛击这里</a>！
            </p>
        </div>
    </div>
</noscript>
