<nav class="top-menu">
    <div class="top-menu-tab">
        <div class="top-menu-category">
            <h2>
                <strong>全部商品分类</strong>
                <span class="top-menu-arrow top-menu-arrow-hover"></span>
            </h2>
            <ul class="top-hot-left-category top-hot-left-category2">
                <li class="child0 clearfix">
                    <h3>
                        <a href="/products/1.html" class="top-hot-left-icon" hidefocus="true"></a>
                        <a href="/products/1.html">基础</a>
                        <em style="display: none;">所有人群</em>
                    </h3>
                    <div class="top-hot-left-sub">
                        <span><a href="http://baojian.163.com/products/1-105.html">维生素类</a></span><span><a href="http://baojian.163.com/products/1-106.html">钙铁锌硒</a></span><span><a href="http://baojian.163.com/products/1-107.html">蛋白质类</a></span><span><a href="http://baojian.163.com/products/1-8.html">增强免疫</a></span><span><a href="http://baojian.163.com/products/1-9.html">减缓疲劳</a></span><span><a href="http://baojian.163.com/products/1-10.html">改善睡眠</a></span><span><a href="http://baojian.163.com/products/1-11.html">调节肠胃</a></span><span><a href="http://baojian.163.com/products/1-12.html">改善记忆</a></span><span><a href="http://baojian.163.com/products/1-13.html">护眼明目</a></span>
                    </div>
                </li>
                <li class="child1 clearfix">
                    <h3 class="type1">
                        <a href="/products/2.html" class="top-hot-left-icon" hidefocus="true"></a>
                        <a href="/products/2.html">女士</a>

                    </h3>
                    <div class="top-hot-left-sub">
                        <span><a href="http://baojian.163.com/products/2-14.html">补血养气</a></span><span><a href="http://baojian.163.com/products/2-15.html">减肥瘦身</a></span><span><a href="http://baojian.163.com/products/2-16.html">丰胸美胸</a></span><span><a href="http://baojian.163.com/products/2-17.html">美白祛斑</a></span><span><a href="http://baojian.163.com/products/2-18.html">排毒养颜</a></span><span><a href="http://baojian.163.com/products/2-19.html">延缓衰老</a></span><span><a href="http://baojian.163.com/products/2-20.html">孕期营养</a></span>
                    </div>
                </li>
                <li class="child2 clearfix">
                    <h3>
                        <a href="/products/3.html" class="top-hot-left-icon" hidefocus="true"></a>
                        <a href="/products/3.html">男士</a>

                    </h3>
                    <div class="top-hot-left-sub">
                        <span><a href="http://baojian.163.com/products/3-21.html">补肾健体</a></span><span><a href="http://baojian.163.com/products/3-22.html">解酒护肝</a></span><span><a href="http://baojian.163.com/products/3-23.html">性腺养护</a></span><span><a href="http://baojian.163.com/products/3-24.html">健身塑肌</a></span>
                    </div>
                </li>
                <li class="child3 clearfix">
                    <h3>
                        <a href="/products/4.html" class="top-hot-left-icon" hidefocus="true"></a>
                        <a href="/products/4.html">老人</a>

                    </h3>
                    <div class="top-hot-left-sub">
                        <span><a href="http://baojian.163.com/products/4-25.html">调节三高</a></span><span><a href="http://baojian.163.com/products/4-26.html">心脑保健</a></span><span><a href="http://baojian.163.com/products/4-27.html">溶解血栓</a></span><span><a href="http://baojian.163.com/products/4-28.html">强健骨骼</a></span>
                    </div>
                </li>
                <li class="child4 clearfix">
                    <h3>
                        <a href="/products/5.html" class="top-hot-left-icon" hidefocus="true"></a>
                        <a href="/products/5.html">儿童</a>

                    </h3>
                    <div class="top-hot-left-sub">
                        <span><a href="http://baojian.163.com/products/5-29.html">均衡营养</a></span><span><a href="http://baojian.163.com/products/5-30.html">健脑益智</a></span><span><a href="http://baojian.163.com/products/5-31.html">增强免疫</a></span><span><a href="http://baojian.163.com/products/5-32.html">骨骼发育</a></span>
                    </div>
                </li>
                <li class="child5 clearfix">
                    <h3>
                        <a href="/products/6.html" class="top-hot-left-icon" hidefocus="true"></a>
                        <a href="/products/6.html">食品</a>

                    </h3>
                    <div class="top-hot-left-sub">
                        <span><a href="http://baojian.163.com/products/6-33.html">蜂蜜阿胶</a></span><span><a href="http://baojian.163.com/products/6-34.html">茶疗保健</a></span><span><a href="http://baojian.163.com/products/6-36.html">果干糕点</a></span>
                    </div>
                </li>
            </ul>
        </div>
        <iframe frameborder="0" class="top-menu-frame" scrolling="no" style="height: 451px; display: none;"></iframe>
        <ul class="top-menu-list">
            <li class="active"><a href="http://baojian.163.com/">首页</a></li>
            <li><a href="http://baojian.163.com/brands.html">品牌专区</a></li>
            <li><a href="/activity.html">特价优惠</a>
                @*  <span class="top-menu-tips-hot"></span>*@
            </li>
        </ul>
    </div>
    <input type="hidden" id="durl" value="http://baojian.163.com/">
</nav>
<script type="text/javascript">
    $(function () {
        $('.top-menu-category').hover(function () {
            $(this).find('.top-menu-arrow')
                .addClass('top-menu-arrow-hover')
                .end()
                .find('.top-hot-left-category')
                .show()
                .end()
                .next('top-menu-frame').show();
        }, function () {
            $(this).find('.top-menu-arrow')
               .removeClass('top-menu-arrow-hover')
               .end()
               .find('.top-hot-left-category')
               .hide()
               .end()
               .next('top-menu-frame').hide();
        })
    })

</script>
