<nav class="top-menu">
    <div class="top-menu-tab">
        <div class="top-menu-category">
            <h2>
                <strong>全部户外分类</strong>
            </h2>
        </div>
        <ul class="top-menu-list">
            <li class="active"><a href="http://baojian.163.com/">首页</a></li>
            <li><a href="http://baojian.163.com/brands.html">企业黄页</a></li>
            <li><a href="/activity.html">特价优惠</a></li>
        </ul>
    </div>
    <input type="hidden" id="durl" value="http://baojian.163.com/">
</nav>
