<nav class="top-nav">
    <div class="top-nav-wrap">
        <div class="top-nav-left">欢迎来到网易保健品！<a href="javascript:void(0);" onclick="easyNav.login()">请登录</a> <a href="http://reg.163.com/reg/reg.jsp?product=baojian&amp;url=http%3A%2F%2Fbaojian.163.com%2F%3Ffrom%3Dreg&amp;loginurl=http%3A%2F%2Fbaojian.163.com%2F%3Ffrom%3Dreg%26isShowLogin%3D1">免费注册</a></div>
        <ul class="top-nav-right">
            <li><a href="http://baojian.163.com/personal/index.html">个人中心</a>&nbsp;&nbsp;|</li>
            <li class="spcart"><a href="http://baojian.163.com/cart.html" target="_blank">购物车</a>&nbsp;&nbsp;<strong class="c_ba2636">0</strong>&nbsp;&nbsp;|</li>
            <li><a href="http://baojian.163.com/personal/my_order.html" target="_blank" rel="nofollow">我的订单</a>&nbsp;&nbsp;</li>
            <li>
                <div class="dropdown-box top-nav-dropdown-menu ">
                    <a class="top-nav-holder" target="_blank" href="http://t.163.com/baojian_163" rel="nofollow">关注微博<i></i></a><b class="holderline">|</b>
                    <div class="dropdown-menu">
                        <i class="line"></i>
                        <a class="clearfix" target="_blank" href="http://weibo.com/baojian163" rel="nofollow"><em class="xlwb"></em><span>新浪微博</span></a>
                        <a class="clearfix" target="_blank" href="http://t.163.com/baojian_163" rel="nofollow"><em class="wywb"></em><span>网易微博</span></a>
                        <a class="clearfix" target="_blank" href="http://t.qq.com/wangyibaojianpin?firstin" rel="nofollow"><em class="txwb"></em><span>腾讯微博</span></a>
                    </div>
                </div>
            </li>
            <li><a target="_blank" href="http://baojian.163.com/footer/problem.html">帮助</a>&nbsp;&nbsp;|</li>
            <li class="top-nav-server">
                <div class="dropdown-box top-nav-dropdown-menu ">
                    <a class="top-nav-holder" href="#">联系客服<i></i></a>
                    <div class="dropdown-menu-server">
                        <a hidefocus="true" class="top-nav-timeout" href="javascript:void(0)" rel="nofollow">
                            <h3><em class="fl">在线客服</em><strong class="fr">9:30--18:30</strong></h3>
                            <p>
                                客服休息中，您可选择<span onclick="window.open('http://zxkf.163.com/index.do?productId=2&amp;tag=2')">小精灵</span>
                                或<span onclick="window.open('http://zxkf.163.com/index.do?productId=2&amp;tag=3')">意见簿</span>
                            </p>
                        </a>
                        <a hidefocus="true" class="top-nav-answer" href="http://zxkf.163.com/index.do?productId=2&amp;tag=2" target="_blank" rel="nofollow">
                            <h3>客服小精灵</h3>
                            <p>为您解答常见问题的自助服务，无需等待</p>
                        </a>
                        <a hidefocus="true" class="top-nav-feedback" href="http://zxkf.163.com/index.do?productId=2&amp;tag=3" target="_blank" rel="nofollow">
                            <h3 class="feedbackH3">意见簿</h3>
                            <p>提交留言，我们尽快回复至您的个人中心</p>
                        </a>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</nav>
