<nav class="top-menu">
    <div class="top-menu-tab">
        <div class="top-menu-category">
            <h2>
                <strong>全部户外分类</strong>
            </h2>
        </div>
        <ul class="top-menu-list">
            <li class="active"><a href="@Url.Action("index", "home", new { province = CookieHelper.Province })">首页</a></li>
            <li><a href="@Url.Action("index", "list", new { province = CookieHelper.Province, mediacode = 441 })">户外资源</a></li>
        </ul>
    </div>
</nav>
