@{
    ViewBag.Title = "Index";
}


<script type="text/javascript">
    var b = 123;

    var test = {
        self: this,
        name: 'test',
        change: function() {
            var sorry = 'sorry,你好三个人';
            alert(this.name + sorry);
        }
    };
    $(function() {
        $('#alert').html('hello compressed' + b)
        if (b == 123) {
            $('#alert').click($.proxy(test.change, test));
        }
    })
</script>

<style type="text/css">
    #alert {
        border: 1px solid #852525;
        background: #2b94c2;
        padding: 10px;
        color: #fff;
    }
</style>

<h2>Index</h2>


<p id="alert"></p>

<script type="text/javascript">
    var c = 123;
    $(function() {
        $('#alert1').html('hello compressed' + c)
    })
</script>

<p id="alert1"></p>
<style type="text/css">
    #alert1 {
        border: 1px solid #852525;
        background: #2b94c2;
        padding: 10px;
        color: #fff;
    }
</style>
