@{
    ViewBag.Title = "Index";
}

<h2>Lucene测试</h2>


@Html.ActionLink("建立索引", "createindex")<br />

@Html.ActionLink("指定更新索引", "updateindex")<br />

@Html.ActionLink("测试搜索", "searchindex")<br />

@Html.ActionLink("添加荣誉值", "addCreditIndex")<br />




