@{
    ViewBag.Title = "SearchIndex";
}

<h2>SearchIndex</h2>

@using (Html.BeginForm())
{ 
    <label>关键字</label>
    
    <input type="text" class="k-textbox single-line " name="query" />
    
    <button type="submit" class="btn btn-success ">
        搜索
    </button>
}

@if (ViewBag.List != null)
{
    foreach (var item in ViewBag.List)
    { 
    <p>@item.Name</p>
    }
}